<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Herbal Products</title>

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sacramento&family=Ubuntu:wght@300&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" href="images/favicon.ico">


  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section  id="title">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="brand">

          <img class="brandpic" src="images/brandpic.jpg" alt="brandpic" >
          <a class="navbar-brand" href="">Natura</a>
       </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/shopping">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/shopping">Shop</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Download</a>
            </li>
            <!-- <li class="nav-item">
              <a class="btn-show-cart nav-link" href="shopping.html#cart"> <i class="fas fa-shopping-cart"></i><span class="cartCount"> 0 </span></a>
            </li> -->
          </ul>

        </div>
      </nav>


      <!-- Title -->
      <div class="container-fluid">

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">Complete solution for your health problems</h1>
          <button type="button" class="btn btn-success btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-dark btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>

        <div class="col-lg-6">


         <div id="title-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">


           <div class="carousel-inner">
             <div class="carousel-item active container-fluid">
               <img class="title_img" src="images/family2.jpg" alt="customer-profile">
             </div>
             <div class="carousel-item container-fluid">
               <img class="title_img" src="images/family3.jpg" alt="skin-profile">
             </div>

             <div class="carousel-item container-fluid">
               <img class="title_img" src="images/titleimg1.jpg" alt="skin-profile">
             </div>

             <div class="carousel-item container-fluid">
               <img class="title_img" src="images/lavenderoil.jpg" alt="lady-profile">
               <!-- <h2 class="title-text">Natura hair care</h2> -->
             </div>
           </div>

           <a class="carousel-control-prev" href="#title-carousel" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-prev" href="#title-carousel" role="button" data-slide="prev">
           <span class="carousel-control-prev-icon"></span>
           </a>
           <a class="carousel-control-next" href="#title-carousel" role="button" data-slide="next">
           <span class="carousel-control-next-icon"></span>
           </a>
           <a class="carousel-control-next" href="#title-carousel" role="button" data-slide="next">
           <span class="carousel-control-next-icon"></span>
           </a>
           </div>

        </div>
      </div>
  </div>  </div>

  </section>


  <!-- Features -->

  <section  id="features">

    <div class="container-fluid">

      <div class="row">


        <div class="feature col-lg-4">
          <!-- <i class="icon fas fa-pagelines fa-3x"></i> -->
          <i class="icon fab fa-pagelines fa-3x"></i>
          <h3 class="feature-title">Touch of Nature</h3>
          <p>Feel the touch of incredible nature. 100% herbal products.</p>
        </div>

        <div class="feature col-lg-4">
          <i class="icon fas fa-heart fa-3x"></i>
          <h3 class="feature-title">Easy to use.</h3>
          <p>So easy to shop, ready to use items.</p>
        </div>

        <div class="feature col-lg-4">
          <i class="icon fas fa-check-circle fa-3x"></i>
          <h3 class="feature-title">Guaranteed to work.</h3>
          <p>Find the solution for your health issues  or your money back.</p>
        </div>
      </div>


    </div>
  </section>


  <!-- Testimonials -->

  <section  id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">

      <ul class="carousel-indicators" >
          <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#testimonial-carousel" data-slide-to="1"></li>
          <li data-target="#testimonial-carousel" data-slide-to="2"></li>
          <li data-target="#testimonial-carousel" data-slide-to="3"></li>

        </ul>

      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">"I have regained the glow on my face. Awesome products."</h2>
          <img class="testimonial-image" src="images/face.jpg" alt="customer-profile">
          <p><em>Emma Jason, London</em></p>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"I am no longer complaining about my skin and hair. Thanks to Natura ."</h2>
          <img class="testimonial-image" src="images/healthy-hair.jpg" alt="lady-profile">
          <p><em>Kasia, Krakow</em></p>
        </div>

        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"Say good bye to hair problems using Natura products."</h2>
          <img class="testimonial-image" src="images/man.webp" alt="lady-profile">
          <p><em>Rahul, Mumbai</em></p>
        </div>

        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"Say no to pimples using Natura products."</h2>
          <img class="testimonial-image" src="images/lady2.jpg" alt="lady-profile">
          <p><em>Michel, Illinois</em></p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" ></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>


  <!-- Pricing -->

  <section  id="pricing">

    <h2 class="section-heading">Shop now!</h2>
    <p class="shop-para"><i class="icon fab fa-pagelines "></i>"Find the finest products at affordable price"<i class="icon fab fa-pagelines"></i></p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Natura hair serum</h4>


          </div>
          <div class="card-body">
            <img class="product_img" src="images/bottles.jpg" alt="skin-profile">

            <p class="product_price">$20.59</p>
            <p>natural extracts</p>
            <button onclick="location.href='/shopping';" class="btn btn-sm btn-block btn-success" type="button">View more</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Lavender hair oil</h4>


          </div>
          <div class="card-body">
            <img class="product_img" src="images/titleimg1.jpg" alt="skin-profile">

            <p class="product_price">$34.99</p>
            <p>100% pure</p>
            <button onclick="location.href='/shopping';" class="btn btn-sm btn-block btn-success" type="button">View more</button>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h4>Natura Herbal Pack</h4>


          </div>
          <div class="card-body">
            <img class="product_img" src="images/healing-herbs.jpg" alt="skin-profile">

            <p class="product_price">$26.99</p>
            <p>blend of nature</p>
            <button onclick="location.href='/shopping';" class="btn btn-sm btn-block btn-success" type="button">View more </button>
          </div>
        </div>
      </div>
    </div>

<div class="shop">

<!-- <a class="" href="Shopping.html"><em><h2>Shop more...</h2></em></a> -->
</div>



  </section>


  <!-- Call to Action -->

  <section  id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">Find the exotic touch of nature!!</h3>
      <button class="download-button btn btn-lg btn-success" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg btn-outline-dark" type="button"><i class="fab fa-google-play"></i> Download</button>
    </div>
  </section>


  <!-- Footer -->

  <footer  id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope "></i>




      <p>© Copyright 2021 Natura</p>
    </div>
  </footer>


</body>

</html>
